<!DOCTYPE html>
<html>
  <head>
    <title>TweetBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <nav class="header-main">
        <h1><%=link_to("TweetBlog","/")%></h1>
          <ul class="nav-bar">
            <li>
              <%=link_to("写真を見る","/")%>
            </li>
            <li>
              <%=link_to("投稿する","/tweets/new")%>
            </li>
          </ul>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
